<ion-view view-title="{{beaconId}}">
    <ion-content padding="20">
        <div class="card">
            <div class="item item-text-wrap">
                <p>Please place your phone at exactly 1 meter (3 feet) from the beacon you are trying to calibrate. When the RSSI below is stable,
                tap the button <i>Calibrate !</i></p>
                <p><b>RSSI: {{measuredRSSI}}</b></p>
                <button ng-click="calibrateBeacon()" class="button button-block button-positive">Calibrate !</button>
            </div>
        </div>

    </ion-content>
</ion-view>
