<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <p>Welcome to the INCA test App</p>
    <p><b>{{enabled}}</b></p>
    <p>The signal is {{networkType}}</p>
    <pre>count: {{count}}</pre>
    <div class="card" ng-repeat="b in beacons">
      <div ui-sref="^.calibrate({beaconId: b.uniqueName})" class="item item-text-wrap">
        <p>
            <b>Name: </b> {{b.name}} <br>
            <b>Room: </b> {{b.room}} <br>
            <b>Distance: </b> {{b.distanceFormatted || b.rssi}} <br>
            <b>Calibration: {{b.calibration || 'N/A'}}</b><br>
            <b>My distance: </b> {{myDistance(b.rssi, b.calibration)}}

        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
